.language-flag {
    width: 24px;
    margin: 0 10px;
}

.language-flag:hover {
    cursor: pointer;
    opacity: 0.7;
}

.language-flag:active {
    padding: 1px;
}

.productActive {
    border: 1px solid green;
    background-color: rgba(114, 253, 39, 0.14);
}

.productInactive {
    border: 1px solid rgb(128, 0, 0);
    background-color: rgba(255, 33, 33, 0.271);
}

.map {
    height: 70vh;
    margin-top: 50px;
}

.selection-map {
    height: 500px;
    width: 500px;
}

.maintain-shops {
    margin-top: 50px;
    display: flex;
}

.shops {
    margin-left: 50px;
}

.footer {
    background-color:#212529;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
