.nupp {
  /* Kommentaarid ctrl + ä */
  width: 200px;
  padding: 10px;
  margin: 2px;
}

.nupp:hover {
  font-weight: bold;
}

.header {
  margin: 0 auto;
  width: 50%;
}

.pilt {
  width: 300px;
  border-radius: 20px;
}

.pilt:hover {
  opacity: 0.7;
}

.active {
  border: 1px solid green;
  background-color: rgba(24, 221, 24, 0.228);
}

.inactive {
  border: 1px solid red;
  background-color: rgba(221, 24, 24, 0.228);
}